.app {
  min-height: 100%;
  padding: 65px 8px 0 8px;
  background-color: #eeeeee;
}

.app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.app-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
