<mat-card class="recipe-form mat-elevation-z0">
  <mat-card-title>
    <ng-container *ngIf="dialogData.recipeId; else newRecipeTitle">Edit Recipe</ng-container>
    <ng-template #newRecipeTitle>New Recipe</ng-template>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
      <mat-form-field class="recipe-form-field">
        <input matInput
               type="text"
               placeholder="Title"
               [formControlName]="RecipeFormKey.Title">
      </mat-form-field>
      <mat-form-field class="recipe-form-field">
        <mat-select multiple
                    placeholder="Authors" 
                    [formControlName]="RecipeFormKey.Authors">
          <mat-option *ngFor="let author of authorsData$ | async"
                      [value]="author.id">
            {{author.name}} ({{author.email}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="recipe-form-field">
        <textarea matInput
                  class="recipe-form-textarea"
                  placeholder="Recipe text"
                  [formControlName]="RecipeFormKey.Text">
        </textarea>
      </mat-form-field>
      <app-image-picker [formControlName]="RecipeFormKey.Image"></app-image-picker>
      <div class="mat-title">Ingredients</div>
      <div [formArrayName]="RecipeFormKey.Ingredients">
        <div *ngFor="let _ of recipeForm.value[RecipeFormKey.Ingredients]; let i = index; trackBy: identifyIngredient"
             [formGroupName]="i"
             class="recipe-form-ingredient">
          <div class="recipe-form-ingredient-field">
            <mat-form-field class="recipe-form-field">
              <input matInput
                      type="text"
                      placeholder="Ingredient"
                      [formControlName]="IngredientFormKey.Name">
            </mat-form-field>
          </div>
          <div class="recipe-form-ingredient-field">
            <mat-form-field class="recipe-form-field">
              <input matInput
                    type="text"
                    placeholder="Amount"
                    [formControlName]="IngredientFormKey.Amount">
            </mat-form-field>
          </div>
          <div class="recipe-form-ingredient-field">
            <mat-form-field class="recipe-form-field">
              <input matInput
                    type="text"
                    placeholder="Unit"
                    [formControlName]="IngredientFormKey.Unit">
            </mat-form-field>
          </div>
          <div class="recipe-form-ingredient-field">
            <button mat-button mat-icon-button
                    type="button" 
                    (click)="removeIngredient(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button mat-button 
                type="button" 
                (click)="addIngredient()">
          Add ingredient
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="recipe-form-actions">
    <button mat-raised-button
            color="warn"
            type="button"
            (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button
            color="primary"
            type="submit">
      Submit
    </button>
  </mat-card-actions>
</mat-card>