<mat-card class="author-form mat-elevation-z0">
  <mat-card-title>
    <ng-container *ngIf="dialogData.authorId; else newAuthorTitle">Edit Author</ng-container>
    <ng-template #newAuthorTitle>New Author</ng-template>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="authorForm" (ngSubmit)="submitAuthor()" #form1="ngForm">
      <mat-form-field class="author-form-field">
        <input matInput
        id="name" name="name" 
               type="text"
               placeholder="Name Surname"
               [(ngModel)] = "authorForm.name"
    
               [formControlName]="AuthorFormKey.name"
               required>

        
      </mat-form-field>  
      <mat-form-field class="author-form-field">
        <input matInput
               type="email"
               placeholder="Email"
               [(ngModel)] = "authorForm.email"
               [formControlName]="AuthorFormKey.email"
               required>
      </mat-form-field>
      <mat-form-field class="author-form-field">
        <mat-select 
                    placeholder="Skill" 
                    [(ngModel)] = "authorForm.skill"
                    [formControlName]="AuthorFormKey.skill"
                    required>
          <mat-option *ngFor="let level of levels$ "
                      [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="author-form-actions">
    <button mat-raised-button
            color="warn"
            type="button"
            (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button
            [disabled] = "form1.invalid"
            color="primary"
            type="submit"
            (click)="submitAuthor()">
      Submit
    </button>
  </mat-card-actions>
</mat-card>