html, body {
  height: 100%;
}

body {
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

input {  /* stylelint-disable-line selector-max-type */
  border: none;
  background: none;
}